<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>个人中心</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/frontStyle/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/frontStyle/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/frontStyle/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/frontStyle/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/frontStyle/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/frontStyle/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/frontStyle/css/metismenu.css}">
    <!--<link rel="stylesheet" th:href="@{/frontStyle/css/nice-select.css}">-->
    <link rel="stylesheet" th:href="@{/frontStyle/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/frontStyle/css/common.css}">
    <link rel="stylesheet" th:href="@{/frontStyle/css/style.css}">
    <link rel="stylesheet" th:href="@{/frontStyle/css/responsive.css}">
</head>
<body>
    <!-- body wrap start -->
    <div class="body_wrap">

        <!-- backtotop - start -->
        <div id="thetop"></div>
        <div id="backtotop">
            <a href="#" id="scroll">
                <i class="fal fa-arrow-up"></i>
                <i class="fal fa-arrow-up"></i>
            </a>
        </div>
        <!-- backtotop - end -->

        <!-- start Preloader  -->
        <!--<div class="preloder_part">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>-->
        <!-- End Preloader  -->

        <!-- header start -->
        <div th:replace="front/index :: header(0.1)"></div>
        <!-- header start -->

        <!-- slide-bar start -->
        <div th:replace="front/index :: slide-bar"></div>
        <div class="body-overlay"></div>
        <!-- slide-bar end -->

        <main>
            <!-- page title start -->
            <section class="page_title_area" data-overlay="6" data-background="/frontStyle/images/page_title.jpg">
                <div class="containe">
                    <div class="row">
                        <div class="col-l2">
                            <div class="page_title text-center">
                                <h2>个人数据信息</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item">
                                            <a th:href="@{/frontlink/index}">Home</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Personal Data</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title end -->

            <!-- studentInfo start -->
            <section class="checkout_area pt-120 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3" th:fragment="PersonalCenter-SlideBar">
                            <div class="widget_wrap mb-50">
                                <div class="widget">
                                    <h3 class="title">个人中心</h3>
                                    <ul class="service_list">
                                        <li>
                                            <a th:href="@{/frontlink/studentInfo}">个人数据信息<span><i class="fal fa-long-arrow-right"></i></span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/frontlink/updatePwd}">密码修改<span><i class="fal fa-long-arrow-right"></i></span></a>
                                        </li>
                                        <li>
                                            <a th:href="@{/frontlink/questionReply}">问题反馈记录<span><i class="fal fa-long-arrow-right"></i></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="checkout_wrap">
                                <div class="radio_wrap">
                                    <h3><strong>个人数据信息</strong></h3>
                                    <ul>
                                        <li>
                                            <button id="btnEdit" class="btn btn-primary">编辑</button>
                                            <button id="btnCancel" class="btn btn-secondary" hidden>取消</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12">
                                        <form id="editForm" class="form_wrap" th:action="@{/courseonline/student/edit}" method="post">
                                            <div class="row">
                                                <!--隐藏域用于存储被编辑对象的id-->
                                                <input id="id" name="id" th:value="${session.loggingStudent}!=null?${session.loggingStudent.id}:''" hidden>

                                                <div class="col-xl-6 col-lg-6">
                                                    <label>学号(不可修改)<span>*</span></label><label for="sno" class="error" style="color: red"></label>
                                                    <input type="text" id="sno" name="sno" placeholder="学号" th:value="${session.loggingStudent}!=null?${session.loggingStudent.sno}:''" disabled>
                                                </div>

                                                <div class="col-xl-6 col-lg-6">
                                                    <label>姓名<span>*</span></label><label for="name" class="error" style="color: red"></label>
                                                    <input type="text" id="name" name="name" placeholder="姓名" th:value="${session.loggingStudent}!=null?${session.loggingStudent.name}:''" disabled>
                                                </div>

                                                <div class="col-xl-12 col-lg-12">
                                                    <label>邮箱<span>*</span></label><label for="email" class="error" style="color: red"></label>
                                                    <input type="email" name="email" id="email" placeholder="邮箱" th:value="${session.loggingStudent}!=null?${session.loggingStudent.email}:''" disabled>
                                                </div>

                                                <div class="col-xl-12 col-lg-12">
                                                    <label>学院<span>*</span></label><label for="department" class="error" style="color: red"></label>
                                                    <input type="text" id="hide_department" th:value="${session.loggingStudent}!=null?${session.loggingStudent.department}:''" hidden>
                                                    <div class="filter">
                                                        <select id="department" name="department" onchange="gradeBoxRender(this.options[this.options.selectedIndex].value)" disabled>
                                                            <option value="">请选择</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-xl-12 col-lg-12">
                                                    <label>年级<span>*</span></label><label for="grade" class="error" style="color: red"></label>
                                                    <input type="text" id="hide_grade" th:value="${session.loggingStudent}!=null?${session.loggingStudent.grade}:''" hidden>
                                                    <div class="filter">
                                                        <select id="grade" name="grade" onchange="sclassBoxRender(this.options[this.options.selectedIndex].value)" disabled>
                                                            <option value="">请选择</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-xl-12 col-lg-12">
                                                    <label>班级<span>*</span></label><label for="sclass" class="error" style="color: red"></label>
                                                    <input type="text" id="hide_sclass" th:value="${session.loggingStudent}!=null?${session.loggingStudent.sclass}:''" hidden>
                                                    <div class="filter">
                                                        <select id="sclass" name="sclass" disabled>
                                                            <option value="">请选择</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-xl-12 col-lg-12">
                                                    <label>专业<span>*</span></label><label for="subject" class="error" style="color: red"></label>
                                                    <input type="text" name="subject" id="subject" placeholder="专业" th:value="${session.loggingStudent}!=null?${session.loggingStudent.subject}:''" disabled>
                                                </div>
                                                <div class="col-xl-12 col-lg-12">
                                                    <button id="btnSave" type="submit" class="thm_btn thm_btn-black" hidden>保存修改</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- studentInfo end -->

            <!-- bai start -->
            <div th:replace="front/index :: bai"></div>
            <!-- bai end -->
        </main>

        <!-- footer start -->
        <div th:replace="front/index :: footer"></div>
        <!-- footer end -->
    </div>
    <!-- body wrap end -->
    <!-- js -->
    <script th:src="@{/frontStyle/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/frontStyle/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/frontStyle/js/owl.carousel.min.js}"></script>
    <script th:src="@{/frontStyle/js/metismenu.min.js}"></script>
    <script th:src="@{/frontStyle/js/wow.min.js}"></script>
    <!--<script th:src="@{/frontStyle/js/jquery.nice-select.min.js}"></script>-->
    <script th:src="@{/frontStyle/js/jquery-ui.js}"></script>
    <script th:src="@{/frontStyle/js/isotope.pkgd.min.js}"></script>
    <script th:src="@{/frontStyle/js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/frontStyle/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/frontStyle/js/main.js}"></script>
    <script th:src="@{/plugins/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/plugins/validate/messages_zh.js}"></script>
</body>
<script>
    $('#btnEdit').click(function () {
        $('#name').removeAttr('disabled');
        $('#email').removeAttr('disabled');
        $('#grade').removeAttr('disabled');
        $('#department').removeAttr('disabled');
        $('#sclass').removeAttr('disabled');
        $('#subject').removeAttr('disabled');
        $('#btnEdit').hide();
        $('#btnSave').removeAttr('hidden');
        $('#btnCancel').removeAttr('hidden');
    });
    $('#btnCancel').click(function () {
        location.reload();
    });
    $(document).ready(function () {
        //表单校验
        $("#editForm").validate({
            // 失去焦点就验证
            onfocusout: function(element) { $(element).valid(); },
            rules: {
                name: "required"
                ,email: {
                    required:true,
                    remote:{
                        type: "GET",
                        url: "/courseonline/student/editCheckParams",
                        data:{
                            param : "email"
                            , value : function() {
                                return $("#email").val();
                            }
                            , id: function () {
                                return $("#id").val();
                            }
                        }
                    }
                }
                ,grade: "required"
                ,department: "required"
                ,sclass: "required"
                ,subject: "required"
            },
            messages: {
                email: {remote: "该邮箱已注册！"}
            }
        });
        selectionBoxRender();
    });
    //学院、年级、班级下拉选择框渲染
    function selectionBoxRender(){
        var hide_department = $('#hide_department').val();
        var hide_grade = $('#hide_grade').val();
        var hide_sclass = $('#hide_sclass').val();
        //学院下拉框渲染
        $.ajax({
            url: "/courseonline/department/getAll",
            data: {},
            type: "get",
            async: false,//必须为同步请求
            dataType: "json",
            success: function (data) {
                $('#department').empty();
                $('#department').append('<option value="">'+"请选择"+'</option>');
                for (var i = 0; i <data.length ; i++) {
                    $('#department').append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
                };
                $('#department').val(hide_department);
            }
        });
        //年级下拉框渲染
        $.ajax({
            url: "/courseonline/grade/getByDepartmentId",
            data: {departmentId:hide_department},
            type: "get",
            async: false,//必须为同步请求
            dataType: "json",
            success: function (data) {
                $('#grade').empty();
                $('#grade').append('<option value="">'+"请选择"+'</option>');
                for (var i = 0; i <data.length ; i++) {
                    $('#grade').append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
                };
                $('#grade').val(hide_grade);
            }
        });
        //班级下拉框渲染
        $.ajax({
            url: "/courseonline/sclass/getByGrade",
            data: {grade: hide_grade},
            async: false,//必须为同步请求
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#sclass').empty();
                $('#sclass').append('<option value="">'+"请选择"+'</option>');
                for (var i = 0; i <data.length ; i++) {
                    $('#sclass').append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
                };
                $('#sclass').val(hide_sclass);
            }
        });
    };
    //年级下拉选择框渲染
    function gradeBoxRender(departmentId){
        $.ajax({
            url: "/courseonline/grade/getByDepartmentId",
            data: {departmentId:departmentId},
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#grade').empty();
                $('#grade').append('<option value="">'+"请选择"+'</option>');
                for (var i = 0; i <data.length ; i++) {
                    $('#grade').append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
                }
            }
        });
    };
    //年级下拉选择框渲染
    function sclassBoxRender(gradeId){
        $.ajax({
            url: "/courseonline/sclass/getByGrade",
            data: {grade: gradeId},
            type: "get",
            dataType: "json",
            success: function (data) {
                $('#sclass').empty();
                $('#sclass').append('<option value="">'+"请选择"+'</option>');
                for (var i = 0; i <data.length ; i++) {
                    $('#sclass').append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
                }
            }
        });
    };
</script>
</html>