<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.courseonline.mapper.QuestionReplyMapper">
    <resultMap id="BaseResultMap" type="com.lc.courseonline.entity.QuestionReply" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="question" property="question" jdbcType="VARCHAR" />
        <result column="questioner" property="questioner" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="answer" property="answer" jdbcType="VARCHAR" />
        <result column="responder" property="responder" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="qtime" property="qtime" jdbcType="TIMESTAMP" />
        <result column="atime" property="atime" jdbcType="TIMESTAMP" />
    </resultMap>

    <!--分页条件查询(offset关键字SQLServer2012以后版本才支持)-->
    <!--<select id="selectQuestionReplyByConditionForPage" resultMap="BaseResultMap" parameterType="map">
        select q.id,q.title,q.question,s.name as questioner,q.state,q.answer,a.name as responder,q.qtime,q.atime
        from questionReply q
        join student s on q.questioner=s.id
        left join admin a on q.responder=a.id
        <where>
            <if test="title!=null and title!=''">
                q.title like concat('%',#{title},'%')
            </if>
            <if test="question!=null and question!=''">
                and q.question like concat('%',#{question},'%')
            </if>
            <if test="state!=null and state!=''">
                and q.state = #{state}
            </if>
        </where>
        order by q.${sortField} ${order}
        offset #{page} rows
        fetch next #{limit} rows only;
    </select>-->
    <select id="selectQuestionReplyByConditionForPage" resultMap="BaseResultMap" parameterType="map">
        WITH selectTemp AS (SELECT TOP 100 PERCENT ROW_NUMBER() OVER (ORDER BY q.${sortField} ${order}) as __row_number__,
        q.id,q.title,q.question,s.name as questioner,q.state,q.answer,a.name as responder,q.qtime,q.atime
        from questionReply q
        join student s on q.questioner=s.id
        left join admin a on q.responder=a.id
        <where>
            <if test="title!=null and title!=''">
                q.title like concat('%',#{title},'%')
            </if>
            <if test="question!=null and question!=''">
                and q.question like concat('%',#{question},'%')
            </if>
            <if test="state!=null and state!=''">
                and q.state = #{state}
            </if>
        </where>
        ORDER BY q.${sortField} ${order})
        SELECT * FROM selectTemp WHERE __row_number__ BETWEEN (#{page}-1)*#{limit}+1 AND #{page}*#{limit} ORDER BY __row_number__
    </select>

    <!--条件统计-->
    <select id="selectCountOfQuestionReplyByCondition" parameterType="map" resultType="int">
        select count(*)
        from questionReply q
        join student s on q.questioner=s.id
        join admin a on q.responder=a.id
        <where>
            <if test="title!=null and title!=''">
                q.title like concat('%',#{title},'%')
            </if>
            <if test="question!=null and question!=''">
                and q.question like concat('%',#{question},'%')
            </if>
            <if test="state!=null and state!=''">
                and q.state = #{state}
            </if>
        </where>
    </select>
</mapper>
